@import "../../helpers/fonts.scss";

.acquaintance {
  width: 90vw;
  margin: 0 auto 150px;

  @media (max-width: 950px) {
    margin-bottom: 100px;
  }

  &__title {
    text-align: center;

    font-family: "Open Sans", sans-serif;
    font-size: 50px;
    line-height: 54px;
    font-weight: 400;

    margin: 135px 0 30px;

    @media (max-width: 950px) {
      margin-top: 50px;
      font-size: 40px;
      line-height: 44px;
    }

    @media (max-width: 750px) {
      font-size: 30px;
      line-height: 34px;
    }
  }

  &__main {
    display: flex;
    justify-content: space-between;

    @media (max-width: 750px) {
      display: flex;
      flex-direction: column;

      text-align: center;
    }
  }

  &__img {
    width: 35%;

    @media (max-width: 750px) {
      width: 100%;
    }
  }

  &__info {
    width: 60%;
    padding-right: 5px;
    box-sizing: border-box;

    @media (max-width: 750px) {
      width: 100%;
    }
  }

  &__info-title {
    margin: 26px 0 15px;
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    line-height: 29px;
    font-weight: 400;
  }

  &__text {
    margin-top: 0;

    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 24px;
  }

  &__link {
    text-decoration: none;
    color: #ef5b4c;
    font-weight: bold;

    transition: color 0.5s;
  }

  &__link:hover {
    color:  #d24335
  }

  &__link:active {
    color: #007bff;
  }
}