@import "../../helpers/fonts.scss";

.users {
  background-color: #f9f9f3;
  padding: 150px 0;

  @media (max-width: 950px) {
    padding: 100px 0;
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
  
    list-style: none;
    padding: 0 15px 0;
    margin-bottom: 20px;

    @media (max-width: 500px) {
      grid-template-columns: 1fr;
      padding: 0;
    }
  }

  &__card {
    overflow: hidden;
  }

  &__title {
    text-align: center;

    font-family: "Open Sans", sans-serif;
    font-size: 50px;
    line-height: 54px;
    font-weight: 400;

    margin: 0;

    @media (max-width: 950px) {
      font-size: 40px;
      line-height: 44px;
    }

    @media (max-width: 700px) {
      font-size: 30px;
      line-height: 34px;
    }
  }

  &__semi-title {
    text-align: center;

    font-family: "Open Sans", sans-serif;
    font-weight: 400;


    margin-bottom: 70px;
  }

  &__btn {
    display: block;
    margin: 0 auto;
    
    font-size: 16px;

    padding: 10px 61px;

    border-radius: 5px;
    background-color: #ef5b4c;
    color: #fff;
    border: none;
    cursor: pointer;

    transition: transform 0.5s, background-color 0.5s;
  }

  &__btn:hover {
    background-color: #d24335;
  }

  &__btn:active {
    transform: scale(0.95);
  }
}
