@import "../../helpers/fonts.scss";

.user {
  text-align: center;
  cursor: pointer;
  position: relative;

  padding-bottom: 30px;

  &__photo {
    border-radius: 50%;
  }

  &__name {
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    line-height: 29px;
    font-weight: 400;
  }

  &__info {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: gray;

    margin: 0;
  }
}

.user:hover::after {
  content: attr(data-title);
    position: absolute;
    left: 50%;
    top: 90%;
    transform: translateX(-50%);
    z-index: 1;
    background: #323231;
    color: #fff;
    border-radius: 5px;
    font-size: 11px;
    padding: 5px 10px;
}
