@import "../../helpers/fonts.scss";


.header {
  display: flex;
  box-sizing: border-box;
  padding: 15px 19px 15px 29px;

  width: 100vw;
  background-color: #fff;
  position: fixed;
  z-index: 2;

  &__logo {
    z-index: 3;
  }

  &__logo--mobile {
    padding: 15px 0 15px 29px;
  }

  &__logo-img {
    width: 135px;
  }

  &__burger-menu {
    margin-left: auto;
    border: none;
    background-color: #fff;

    @media (min-width: 950px) {
      display: none;
    }
  }
}

.navigation {
  margin-left: auto;
  @media (max-width: 950px) {
    display: none;
  }

  &__list {
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;

    width: 45.5vw;
    padding: 3px 0;
    margin: 0;

    list-style: none;
  }

  &__item {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
  }

  &__link {
    text-decoration: none;
    color: #000;

    transition: color 0.5s;
  }

  &__link:hover {
    color: #ef5b4c;
  }

  &__link:active {
    color: #007bff
  }
}
